<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Market Finder</a>
        <nav>
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Merchant Sign In</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Spread the word about your brand</h1>
    <p>Help your customers find you. Sign up so you can update your profile to share your story and to update the calendar to customers can find you.</p>
    <a href="#" class="button button_highlight">Sign Up</a>
    <a href="" class="button button_white">Existing Users</a>
  </div>  
</div>
