 <%= render :partial => 'layouts/header'%>
<div id="banner" class="about_banner">
<!--   <h1>About Market Finder</h1> -->
</div>

<div>
  <div class="wrapper_skinny about">
    <h2>About Market Finder</h2>
    <p>The idea began, as so many wonderful moments do, with a cupcake.</p>
    <p>We both recently moved down to FL. Naturally, the first thing we did as we explored our new neighborhoods was visit our local farmers' markets. Sania fell in love with a cupcake vendor and wanted to share their information. However, she didn't know their name, or how to contact them, and no amount of Google searching could uncover it.</p>
    <p>So what do two web developers do when they can't find a site they need? They create it!</p>
    <p>As our final project for Wyncode Academy, we created Market Finder to help you find some great local vendors to follow. Some reasons to use the site include:</p>
    <ul>
      <li>Discover the markets nearest to you</li>
      <li>Find out what vendors are at each market</li>
      <li>See a list of what each vendor sells</li>
      <li>Have contact info for your favorite vendors</li>
      <li>Follow your favorite vendors and receive notifications about any of their upcoming events (coming soon!)</li>
    </ul>
    <p>So explore our site and go forth and buy some cupcakes!</p>
  <!--   <div id="contact">
      <h2>Contact</h2>
      <p>Do you have any suggestions for improving the site? Just want to chat? Please contact us.</p>
    </div>  --> 
  </div>  
</div>