 <%= render :partial => 'layouts/header'%>
<div id="banner" class="about_banner">
<!--   <h1>About Market Finder</h1> -->
</div>

<div>
  <div class="wrapper_skinny about">
    <h2>About Market Finder</h2>
    <p>The idea began, as so many wonderful moments do, with a cupcake.</p>
    <p>We both recently moved down to FL. Naturally, the first thing we did as we explored our new neighborhoods was visit our local farmers' markets. Sania fell in love with a cupcake vendor and wanted to share their information. However, she didn't know their name, or how to contact them.</p>
    <p>We created this site as a way to help others find and support local farmers' market vendors. So go forth and buy cupcakes!</p>
  <!--   <div id="contact">
      <h2>Contact</h2>
      <p>Do you have any suggestions for improving the site? Just want to chat? Please contact us.</p>
    </div>  --> 
  </div>  
</div>