<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Market Finder</a>
        <nav>
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Merchant Sign In</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Find a New Market</h1>
    <p>Looking for a new item to decorate your home with? Something tasty to much on? Find a new farmer's market vendor by searching below.</p>
    <a href="#" class="button button_highlight">Search by location</a>
    <a href="" class="button button_white">Search by product</a>
    <a href="" class="button button_white">Search by vendor</a>
  </div>  
</div>