<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Market Finder</a>
        <nav>
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Vendor Sign In</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite farmer's market or follow your favorite vendor.   </h1>
    <a href="#" class="button button_highlight">Explore a market</a>
    <a href="" class="button button_white">Vendors</a>
  </div>  
</div>