<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">Market Finder</a>
        <nav>
          <ul>
            <% unless user_signed_in? %>
              <li><a href="#">Explore</a></li>
              <li><a href="#">Merchant Sign In</a></li>
              <li><a href="#">About</a></li>
            <% else %>
            <%# add link to explore here %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover farmer's markets and follow your favorite vendors.</h1>
    <a href="#" class="button button_highlight">Explore a market</a>
    <a href="" class="button button_white">Merchants</a>
  </div>  
</div>