$white: #FFFFFF;
$highlight: #DA5A36;
$dark: #22292e;
$light: #EDEFF5;
$devise: #DC2031;
$merchant: #C13213;
$cherry: #950B42;
$home: #749730;



/*=================================*/
/* BODY                            */
/*=================================*/

body {
 font-family: 'Raleway', sans-serif;
 /*font-family: 'Lato', sans-serif;
*/}

h1, h2 {
  font-family: 'Lato', sans-serif;

}

/*=================================*/
/* WRAPPERS                        */
/*=================================*/

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
width: 80%;
margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
  /*padding-top: 6.5rem;*/
}


.cf:before, cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

#notice_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(34,41,46, 0.85);
  z-index: 999;
  p {
    color: $white;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1.5rem 0;
  }
}


/*=================================*/
/* BUTTONS                         */
/*=================================*/

.button {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
}

.follow_button {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: .5rem .5rem;
  text-align: center;
  border-radius: .5rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($highlight, 7.5%); //SASS  figures out out hue 
  }
}

.button_highlight {
  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($highlight, 7.5%); //SASS  figures out out hue 
  }
}

.button_devise {
  background: $devise;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($devise, 7.5%); //SASS  figures out out hue 
  }
}

.button_cherry {
  background: $cherry;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($cherry, 7.5%); //SASS  figures out out hue 
  }
}

.button_merchant {
  background: $merchant;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($merchant, 7.5%); //SASS  figures out out hue 
  }
}

.button_white {
  background: $white;
  color: $dark;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($white, 7.5%);
  }
}

.button_dark {
  background: $home;
  color: $white;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($white, 7.5%);
  }
}

.button_block {
  display: block;
  margin: 0 auto;
}


/*=================================*/
/* HEADER                          */
/*=================================*/
#main_header {
  color: $dark;
  background: $white;
  padding: 2.5rem 0;
  #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: $dark;
    text-decoration: none;
  }
  nav {
    float: right;
    ul {
      overflow: hidden;
      list-style: none;
      margin: 0;
      li {
        display: inline;
        margin-left: 2.5rem;
        a {
          color: $dark;
          text-decoration: none;
        }
      }
    }
  }
}


#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  height: 311px;
  h1 {
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 8rem 0;
  }
}

.vendors_banner {
  background-image: image-url("nuts-banner.jpg");
}

.sign_in_banner {
  background-image: image-url("mixed-veggies-banner.jpg");
}

.sign_up_banner {
  background-image: image-url("cherries-banner.jpg");
}

.about_banner {
  background-image: image-url("cupcakes-banner.jpg");
}

.forgot_password_banner {
 background-image: image-url("beans-banner.jpg");
}


/*=================================*/
/* FORMS                           */
/*=================================*/

.field {
  margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .25rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: .35rem;
  margin-top: .5rem;
}

textarea {
  min-height: 8rem;
  margin-top: .5rem !important;
}

#form {
  padding: 0 0 5rem 0;
}

/*=================================*/
/* DEVISE                          */
/*=================================*/
.devise-links {
  text-decoration: none;
  color: $devise;
}

/*=================================*/
/* PAGINATION                      */
/*=================================*/

.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 28rem 0 5rem 0;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 1.25;
    text-decoration: none;
    background: #EDEFF5;
    font-weight: 700;
    font-size: .7rem;
    font-style: normal; /*override will paginate italics */
    color: $dark;
    &:hover {
      background: $dark;
      color: white;
    }
  }
  .current {
    background: $dark;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
      background: #EDEFF5;
    }
  }
}




@import "bourbon",
"neat",
'normalize',
'welcome',
'vendor_landing',
'customer_landing',
'markets',
'vendors',
'about',
"pickadate/classic",
"pickadate/classic.date",
"pickadate/classic.time";




